<p-tabs value="0">
    <p-tablist>
        <p-tab value="0">Ajouter des équipements</p-tab>
        <p-tab value="1">Modifier des équipements</p-tab>
    </p-tablist>
    <p-tabpanels>
        <p-tabpanel value="0">
            <div class="card">
                <div class="font-semibold text-xl mb-4">Liste des équipements à approuver</div>

                <div>
                    <p-table
                        #dt1
                        [value]="equipmentsNoApproved()"
                        dataKey="id"
                        [rows]="5"
                        [rowsPerPageOptions]="[5, 10, 25, 50]"
                        [rowHover]="true"
                        [expandedRowKeys]="expandedRows"
                        [loading]="loading"
                        [paginator]="true"
                        [(selection)]="selectedEquipmentsNoApproved"
                        [globalFilterFields]="['centreCharge', 'code', 'codeParent', 'createdAt', 'createdBy', 'description', 'entity', 'famille', 'feeder', 'feederDescription', 'localisation', 'unite', 'zone' ]"
                        [tableStyle]="{ 'min-width': '75rem' }"
                        [scrollable]="true"
                    >
                        <ng-template #caption>
                            <div class="flex">
                                <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSVTable1()" />
                                <p-iconfield iconPosition="left" class="ml-auto">
                                    <p-inputicon>
                                        <i class="pi pi-search"></i>
                                    </p-inputicon>
                                    <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
                                </p-iconfield>
                                <!-- <p-togglebutton [(ngModel)]="balanceFrozen" [onIcon]="'pi pi-lock'" offIcon="pi pi-lock-open" [onLabel]="'Actions gelées'" offLabel="Actions gelées" /> -->
                            </div>
                        </ng-template>
                        <ng-template #header>
                            <tr>
                                <th style="width: 4rem"></th>
                                <th style="width: 4rem"></th>
                                <th>
                                    <p-columnFilter type="text" field="centreCharge" placeholder="Rechercher par ..." ariaLabel="Filtre Centre Charge" filterOn="input"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="code" placeholder="Rechercher par ..." ariaLabel="Filtre Code" filterOn="input"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="codeParent" placeholder="Rechercher par ..." ariaLabel="Filtre Code Parent" filterOn="input"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="description" placeholder="Rechercher par ..." ariaLabel="Filtre Description" filterOn="input"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="entity" placeholder="Rechercher par ..." ariaLabel="Filtre Entité" filterOn="input"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="famille" placeholder="Rechercher par ..." ariaLabel="Filtre Famille" filterOn="input"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="feeder" placeholder="Rechercher par ..." ariaLabel="Filtre Feeder" filterOn="input"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="feederDescription" placeholder="Rechercher par ..." ariaLabel="Filtre Feeder Description" filterOn="input"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="localisation" placeholder="Rechercher par ..." ariaLabel="Filtre Localisation" filterOn="input"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="unite" placeholder="Rechercher par ..." ariaLabel="Filtre Unité" filterOn="input"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="zone" placeholder="Rechercher par ..." ariaLabel="Filtre Zone" filterOn="input"></p-columnFilter>
                                </th>
                                <th style="min-width: 12rem" pFrozenColumn alignFrozen="right" [frozen]="balanceFrozen"></th>
                            </tr>
                            <tr>
                                <th style="width: 4rem"></th>
                                <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
                                <th style="width: 11%">Centre Charge</th>
                                <th style="width: 11%">Code</th>
                                <th style="width: 11%">Code Parent</th>
                                <th style="width: 11%">Description</th>
                                <th style="width: 11%">Entité</th>
                                <th style="width: 11%">Famille</th>
                                <th style="width: 11%">Feeder</th>
                                <th style="width: 11%">Feeder Description</th>
                                <th style="width: 11%">Localisation</th>
                                <th style="width: 11%">Unité</th>
                                <th style="width: 11%">Zone</th>
                                <th style="width: 2rem" pFrozenColumn alignFrozen="right" [frozen]="balanceFrozen">Actions</th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-equipment let-expanded="expanded">
                            <tr>
                                <td>
                                    <p-button type="button" pRipple [pRowToggler]="equipment" [text]="true" severity="secondary" [rounded]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
                                </td>
                                <td>
                                    <p-tableCheckbox [value]="equipment" />
                                </td>
                                <td>{{ equipment.centreCharge || 'N/A' }}</td>
                                <td>{{ equipment.code || 'N/A' }}</td>
                                <td>{{ equipment.codeParent || 'N/A' }}</td>
                                <td>{{ equipment.description || 'N/A' }}</td>
                                <td>{{ equipment.entity || 'N/A' }}</td>
                                <td>{{ equipment.famille || 'N/A' }}</td>
                                <td>{{ equipment.feeder || 'N/A' }}</td>
                                <td>{{ equipment.feederDescription || 'N/A' }}</td>
                                <td>{{ equipment.localisation || 'N/A' }}</td>
                                <td>{{ equipment.unite || 'N/A' }}</td>
                                <td>{{ equipment.zone || 'N/A' }}</td>
                                <td alignFrozen="right" pFrozenColumn [frozen]="balanceFrozen">
                                    <p-button icon="pi pi-check" class="mr-2" [rounded]="true" [outlined]="true" (click)="editProduct(product)" />
                                    <p-button icon="pi pi-times" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteProduct(product)" />
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template #expandedrow let-equipment>
                            <tr>
                                <td colspan="5">
                                    <div class="p-4">
                                        <h5>Attributes pour {{ equipment.code }}</h5>
                                        <p-table [value]="equipment.attributes" dataKey="id">
                                            <ng-template #header>
                                                <tr>
                                                    <th pSortableColumn="indx">
                                                        <div class="flex items-center gap-2">
                                                            Index
                                                            <p-sortIcon field="indx" />
                                                        </div>
                                                    </th>
                                                    <th pSortableColumn="specification">
                                                        <div class="flex items-center gap-2">
                                                            Spécification
                                                            <p-sortIcon field="specification" />
                                                        </div>
                                                    </th>
                                                    <th pSortableColumn="attributeName">
                                                        <div class="flex items-center gap-2">
                                                            Nom
                                                            <p-sortIcon field="attributeName" />
                                                        </div>
                                                    </th>
                                                    <th pSortableColumn="value">
                                                        <div class="flex items-center gap-2">
                                                            Valeur
                                                            <p-sortIcon field="value" />
                                                        </div>
                                                    </th>
                                                </tr>
                                            </ng-template>
                                            <ng-template #body let-attribute>
                                                <tr>
                                                    <td>{{ attribute.indx }}</td>
                                                    <td>{{ attribute.specification }}</td>
                                                    <td>{{ attribute.attributeName }}</td>
                                                    <td>{{ attribute.value }}</td>
                                                </tr>
                                            </ng-template>
                                            <ng-template #emptymessage>
                                                <tr>
                                                    <td colspan="4">Ses attributs sont vides.</td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template #loadingbody>
                            <tr>
                                <td colspan="14">Chargement des données des clients. Veuillez patienter 🫸🏽🫸🏽🫸🏽.</td>
                            </tr>
                        </ng-template>
                        <ng-template #emptymessage>
                            <tr>
                                <td colspan="14">Pas de données disponibles 😔😔😔.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>

            <p-confirmdialog [style]="{ width: '450px' }" />
        </p-tabpanel>

        <p-tabpanel value="1">
            <div class="card">
                <div class="font-semibold text-xl mb-4">Modification des équipements à approuver</div>

                <p-table
                    #dt2
                    [value]="products()"
                    dataKey="id"
                    [tableStyle]="{ 'min-width': '60rem' }"
                    [expandedRowKeys]="expandedRows"
                    [(selection)]="selectedProducts"
                    [paginator]="true"
                    [rows]="10"
                    [rowsPerPageOptions]="[10,20,30]"
                    [rowHover]="true"
                >
                    <ng-template #header>
                        <tr>
                            <th style="width: 5rem"></th>
                            <th pSortableColumn="name">Name <p-sortIcon field="name" /></th>
                            <th>Image</th>
                            <th pSortableColumn="price">Price <p-sortIcon field="price" /></th>
                            <th pSortableColumn="category">Category <p-sortIcon field="category" /></th>
                            <th pSortableColumn="rating">Reviews <p-sortIcon field="rating" /></th>
                            <th pSortableColumn="inventoryStatus">Status <p-sortIcon field="inventoryStatus" /></th>
                            <th style="min-width: 12rem"></th>
                        </tr>
                    </ng-template>

                    <ng-template #body let-product let-expanded="expanded">
                        <tr>
                            <td>
                                <p-button type="button" pRipple [pRowToggler]="product" [text]="true" [rounded]="true" [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
                            </td>
                            <td>{{ product.name }}</td>
                            <td>
                                <img [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.image" [alt]="product.name" width="50" class="shadow-lg" />
                            </td>
                            <td>{{ product.price | currency: 'USD' }}</td>
                            <td>{{ product.category }}</td>
                            <td>
                                <p-rating [ngModel]="product.rating" [readonly]="true" />
                            </td>
                            <td>
                                <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product.inventoryStatus)" />
                            </td>
                            <td>
                                <p-button icon="pi pi-pencil" class="mr-2" (click)="editProduct(product)" [rounded]="true" [outlined]="true" />
                                <p-button icon="pi pi-trash" severity="danger" (click)="deleteProduct(product)" [rounded]="true" [outlined]="true" />
                            </td>
                        </tr>
                    </ng-template>

                    <ng-template #expandedrow let-product>
                        <tr>
                            <td colspan="8">
                                <div class="p-4">
                                    <h5>Orders for {{ product.name }}</h5>
                                    <p-table [value]="product.orders || []" dataKey="id" [tableStyle]="{ 'min-width': '40rem' }">
                                        <ng-template #header>
                                            <tr>
                                                <th pSortableColumn="id">Id <p-sortIcon field="id" /></th>
                                                <th pSortableColumn="customer">Customer <p-sortIcon field="customer" /></th>
                                                <th pSortableColumn="date">Date <p-sortIcon field="date" /></th>
                                                <th pSortableColumn="amount">Amount <p-sortIcon field="amount" /></th>
                                                <th pSortableColumn="status">Status <p-sortIcon field="status" /></th>
                                                <th style="width: 4rem"></th>
                                            </tr>
                                        </ng-template>
                                        <ng-template #body let-order>
                                            <tr>
                                                <td>{{ order.id }}</td>
                                                <td>{{ order.customer }}</td>
                                                <td>{{ order.date }}</td>
                                                <td>{{ order.amount | currency: 'USD' }}</td>
                                                <td><p-tag [value]="order.status" [severity]="getSeverity(order.status)" /></td>
                                                <td><p-button type="button" icon="pi pi-search" /></td>
                                            </tr>
                                        </ng-template>
                                        <ng-template #emptymessage>
                                            <tr>
                                                <td colspan="6">There are no orders for this product yet.</td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

            <!-- conserve dialog + confirm dialog si tes handlers les utilisent -->
            <p-dialog [(visible)]="productDialog" [style]="{ width: '450px' }" header="Product Details" [modal]="true">
                <ng-template #content>
                    <!-- contenu du dialog (garde si tu veux l'édition en modal) -->
                </ng-template>
                <ng-template #footer>
                    <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
                    <p-button label="Save" icon="pi pi-check" (click)="saveProduct()" />
                </ng-template>
            </p-dialog>

            <p-confirmdialog [style]="{ width: '450px' }" />
        </p-tabpanel>
    </p-tabpanels>
</p-tabs>
