<p-tabs value="0">
    <p-toast />

    <p-tablist>
        <p-tab value="0">Ajouter des équipements</p-tab>
        <p-tab value="1">Modifier des équipements</p-tab>
        <p-tab value="2">Historique des équipements</p-tab>
    </p-tablist>
    <p-tabpanels>
        <p-tabpanel value="0">
            <div class="card">
                <div class="font-semibold text-xl mb-4">Liste des équipements à approuver</div>

                <div>
                    <p-table
                        #dt1
                        [value]="equipmentsNoApproved()"
                        dataKey="id"
                        [rows]="5"
                        [rowsPerPageOptions]="[5, 10, 25, 50]"
                        [rowHover]="true"
                        [expandedRowKeys]="expandedRows"
                        [loading]="loading"
                        [paginator]="true"
                        [(selection)]="selectedEquipmentsNoApproved"
                        [globalFilterFields]="['centreCharge', 'code', 'codeParent', 'createdAt', 'createdBy', 'description', 'entity', 'famille', 'feeder', 'feederDescription', 'localisation', 'unite', 'zone' ]"
                        [tableStyle]="{ 'min-width': '75rem' }"
                        [scrollable]="true"
                    >
                        <ng-template #caption>
                            <div class="flex justify-between md:flex-row flex-col gap-2">
                                <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportExcelTable1()" />
                                <p-iconfield iconPosition="left" class="ml-auto">
                                    <p-inputicon>
                                        <i class="pi pi-search"></i>
                                    </p-inputicon>
                                    <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
                                </p-iconfield>
                            </div>
                        </ng-template>
                        <ng-template #header>
                            <tr>
                                <th style="width: 4rem"></th>
                                <th style="width: 4rem"></th>
                                <th>
                                    <p-columnFilter type="text" field="centreCharge" placeholder="Rechercher par ..." ariaLabel="Filtre Centre Charge" filterOn="input"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="code" placeholder="Rechercher par ..." ariaLabel="Filtre Code" filterOn="input"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="codeParent" placeholder="Rechercher par ..." ariaLabel="Filtre Code Parent" filterOn="input"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="description" placeholder="Rechercher par ..." ariaLabel="Filtre Description" filterOn="input"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="entity" placeholder="Rechercher par ..." ariaLabel="Filtre Entité" filterOn="input"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="famille" placeholder="Rechercher par ..." ariaLabel="Filtre Famille" filterOn="input"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="feeder" placeholder="Rechercher par ..." ariaLabel="Filtre Feeder" filterOn="input"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="feederDescription" placeholder="Rechercher par ..." ariaLabel="Filtre Feeder Description" filterOn="input"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="localisation" placeholder="Rechercher par ..." ariaLabel="Filtre Localisation" filterOn="input"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="unite" placeholder="Rechercher par ..." ariaLabel="Filtre Unité" filterOn="input"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="zone" placeholder="Rechercher par ..." ariaLabel="Filtre Zone" filterOn="input"></p-columnFilter>
                                </th>
                                <th style="width: auto; min-width: 7.5rem;" pFrozenColumn alignFrozen="right" [frozen]="balanceFrozen"></th>
                            </tr>
                            <tr>
                                <th style="width: 4rem"></th>
                                <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
                                <th style="width: 11%">Centre Charge</th>
                                <th style="width: 11%">Code</th>
                                <th style="width: 11%">Code Parent</th>
                                <th style="width: 11%">Description</th>
                                <th style="width: 11%">Entité</th>
                                <th style="width: 11%">Famille</th>
                                <th style="width: 11%">Feeder</th>
                                <th style="width: 11%">Feeder Description</th>
                                <th style="width: 11%">Localisation</th>
                                <th style="width: 11%">Unité</th>
                                <th style="width: 11%">Zone</th>
                                <th style="width: auto; min-width: 7.5rem;" pFrozenColumn alignFrozen="right" [frozen]="balanceFrozen">Actions</th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-equipment let-expanded="expanded">
                            <tr>
                                <td>
                                    <p-button type="button" pRipple [pRowToggler]="equipment" [text]="true" severity="secondary" [rounded]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
                                </td>
                                <td>
                                    <p-tableCheckbox [value]="equipment" />
                                </td>
                                <td>{{ equipment.centreCharge || 'N/A' }}</td>
                                <td>{{ equipment.code || 'N/A' }}</td>
                                <td>{{ equipment.codeParent || 'N/A' }}</td>
                                <td>{{ equipment.description || 'N/A' }}</td>
                                <td>{{ equipment.entity || 'N/A' }}</td>
                                <td>{{ equipment.famille || 'N/A' }}</td>
                                <td>{{ equipment.feeder || 'N/A' }}</td>
                                <td>{{ equipment.feederDescription || 'N/A' }}</td>
                                <td>{{ equipment.localisation || 'N/A' }}</td>
                                <td>{{ equipment.unite || 'N/A' }}</td>
                                <td>{{ equipment.zone || 'N/A' }}</td>
                                <td alignFrozen="right" pFrozenColumn [frozen]="balanceFrozen" class="p-2">
                                    <p-confirmpopup />
                                    <p-button (onClick)="confirm1($event, equipment)" class="mr-2" icon="pi pi-check" [outlined]="true" [rounded]="true" />
                                    <p-button (onClick)="confirm2($event, equipment)" icon="pi pi-times" severity="danger" [outlined]="true" [rounded]="true" />
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template #expandedrow let-equipment>
                            <tr>
                                <td colspan="5">
                                    <div class="p-4">
                                        <h5>Attributes pour {{ equipment.code }}</h5>
                                        <p-table [value]="equipment.attributes" dataKey="id">
                                            <ng-template #header>
                                                <tr>
                                                    <th pSortableColumn="indx">
                                                        <div class="flex items-center gap-2">
                                                            Index
                                                            <p-sortIcon field="indx" />
                                                        </div>
                                                    </th>
                                                    <th pSortableColumn="specification">
                                                        <div class="flex items-center gap-2">
                                                            Spécification
                                                            <p-sortIcon field="specification" />
                                                        </div>
                                                    </th>
                                                    <th pSortableColumn="attributeName">
                                                        <div class="flex items-center gap-2">
                                                            Nom
                                                            <p-sortIcon field="attributeName" />
                                                        </div>
                                                    </th>
                                                    <th pSortableColumn="value">
                                                        <div class="flex items-center gap-2">
                                                            Valeur
                                                            <p-sortIcon field="value" />
                                                        </div>
                                                    </th>
                                                </tr>
                                            </ng-template>
                                            <ng-template #body let-attribute>
                                                <tr>
                                                    <td>{{ attribute.indx }}</td>
                                                    <td>{{ attribute.specification }}</td>
                                                    <td>{{ attribute.attributeName }}</td>
                                                    <td>{{ attribute.value }}</td>
                                                </tr>
                                            </ng-template>
                                            <ng-template #emptymessage>
                                                <tr>
                                                    <td colspan="4">Ses attributs sont vides. 🚫🚫🚫</td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template #loadingbody>
                            <tr>
                                <td colspan="14">Chargement des données des clients. Veuillez patienter 🫸🏽🫸🏽🫸🏽.</td>
                            </tr>
                        </ng-template>
                        <ng-template #emptymessage>
                            <tr>
                                <td colspan="14">Pas de données disponibles 😔😔😔.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </p-tabpanel>

        <p-tabpanel value="1">
            <div class="card">
                <div class="font-semibold text-xl mb-4">Modification des équipements à approuver</div>

                <div>
                    <p-table
                        #dt2
                        [value]="equipmentsNoModified()"
                        dataKey="id"
                        [rows]="5"
                        [rowsPerPageOptions]="[5, 10, 25, 50]"
                        [rowHover]="true"
                        [expandedRowKeys]="expandedRows"
                        [loading]="loading"
                        [paginator]="true"
                        [(selection)]="selectedEquipmentsNoModified"
                        [globalFilterFields]="['centreCharge', 'code', 'codeParent', 'createdAt', 'createdBy', 'description', 'entity', 'famille', 'feeder', 'feederDescription', 'localisation', 'unite', 'zone' ]"
                        [tableStyle]="{ 'min-width': '75rem' }"
                        [scrollable]="true"
                    >
                        <ng-template #caption>
                            <!-- Dans le #caption de la deuxième table, remplacez la div par : -->
                            <div class="flex justify-between md:flex-row flex-col gap-2">
                                <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportExcelTable2()" />
                                <p-iconfield iconPosition="left" class="ml-auto">
                                    <p-inputicon>
                                        <i class="pi pi-search"></i>
                                    </p-inputicon>
                                    <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
                                </p-iconfield>
                            </div>
                        </ng-template>
                        <ng-template #header>
                            <tr>
                                <th style="width: 4rem"></th>
                                <th style="width: 4rem"></th>
                                <th>
                                    <p-columnFilter type="text" field="centreCharge" placeholder="Rechercher par ..." ariaLabel="Filtre Centre Charge" filterOn="input"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="code" placeholder="Rechercher par ..." ariaLabel="Filtre Code" filterOn="input"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="codeParent" placeholder="Rechercher par ..." ariaLabel="Filtre Code Parent" filterOn="input"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="description" placeholder="Rechercher par ..." ariaLabel="Filtre Description" filterOn="input"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="entity" placeholder="Rechercher par ..." ariaLabel="Filtre Entité" filterOn="input"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="famille" placeholder="Rechercher par ..." ariaLabel="Filtre Famille" filterOn="input"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="feeder" placeholder="Rechercher par ..." ariaLabel="Filtre Feeder" filterOn="input"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="feederDescription" placeholder="Rechercher par ..." ariaLabel="Filtre Feeder Description" filterOn="input"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="localisation" placeholder="Rechercher par ..." ariaLabel="Filtre Localisation" filterOn="input"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="unite" placeholder="Rechercher par ..." ariaLabel="Filtre Unité" filterOn="input"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="zone" placeholder="Rechercher par ..." ariaLabel="Filtre Zone" filterOn="input"></p-columnFilter>
                                </th>
                                <th style="width: auto; min-width: 7.5rem" pFrozenColumn alignFrozen="right" [frozen]="balanceFrozen"></th>
                            </tr>
                            <tr>
                                <th style="width: 4rem"></th>
                                <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
                                <th style="width: 11%">Centre Charge</th>
                                <th style="width: 11%">Code</th>
                                <th style="width: 11%">Code Parent</th>
                                <th style="width: 11%">Description</th>
                                <th style="width: 11%">Entité</th>
                                <th style="width: 11%">Famille</th>
                                <th style="width: 11%">Feeder</th>
                                <th style="width: 11%">Feeder Description</th>
                                <th style="width: 11%">Localisation</th>
                                <th style="width: 11%">Unité</th>
                                <th style="width: 11%">Zone</th>
                                <th style="width: auto; min-width: 7.5rem" pFrozenColumn alignFrozen="right" [frozen]="balanceFrozen">Actions</th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-equipment let-expanded="expanded">
                            <tr>
                                <td>
                                    <p-button type="button" pRipple [pRowToggler]="equipment" [text]="true" severity="secondary" [rounded]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
                                </td>
                                <td>
                                    <p-tableCheckbox [value]="equipment" />
                                </td>
                                <td>{{ equipment.centreCharge || 'N/A' }}</td>
                                <td>{{ equipment.code || 'N/A' }}</td>
                                <td>{{ equipment.codeParent || 'N/A' }}</td>
                                <td>{{ equipment.description || 'N/A' }}</td>
                                <td>{{ equipment.entity || 'N/A' }}</td>
                                <td>{{ equipment.famille || 'N/A' }}</td>
                                <td>{{ equipment.feeder || 'N/A' }}</td>
                                <td>{{ equipment.feederDescription || 'N/A' }}</td>
                                <td>{{ equipment.localisation || 'N/A' }}</td>
                                <td>{{ equipment.unite || 'N/A' }}</td>
                                <td>{{ equipment.zone || 'N/A' }}</td>
                                <td alignFrozen="right" class="p-2" pFrozenColumn [frozen]="balanceFrozen">
                                    <p-confirmpopup />
                                    <p-button (onClick)="confirm3($event, equipment)" class="mr-2" icon="pi pi-check" [outlined]="true" [rounded]="true" />
                                    <p-button (onClick)="confirm4($event, equipment)" icon="pi pi-times" severity="danger" [outlined]="true" [rounded]="true" />
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template #expandedrow let-equipment>
                            <tr>
                                <td colspan="5">
                                    <div class="p-4">
                                        <h5>Attributes pour {{ equipment.code }}</h5>
                                        <p-table [value]="equipment.attributes" dataKey="id">
                                            <ng-template #header>
                                                <tr>
                                                    <th pSortableColumn="indx">
                                                        <div class="flex items-center gap-2">
                                                            Index
                                                            <p-sortIcon field="indx" />
                                                        </div>
                                                    </th>
                                                    <th pSortableColumn="specification">
                                                        <div class="flex items-center gap-2">
                                                            Spécification
                                                            <p-sortIcon field="specification" />
                                                        </div>
                                                    </th>
                                                    <th pSortableColumn="attributeName">
                                                        <div class="flex items-center gap-2">
                                                            Nom
                                                            <p-sortIcon field="attributeName" />
                                                        </div>
                                                    </th>
                                                    <th pSortableColumn="value">
                                                        <div class="flex items-center gap-2">
                                                            Valeur
                                                            <p-sortIcon field="value" />
                                                        </div>
                                                    </th>
                                                </tr>
                                            </ng-template>
                                            <ng-template #body let-attribute>
                                                <tr>
                                                    <td>{{ attribute.indx }}</td>
                                                    <td>{{ attribute.specification }}</td>
                                                    <td>{{ attribute.attributeName }}</td>
                                                    <td>{{ attribute.value }}</td>
                                                </tr>
                                            </ng-template>
                                            <ng-template #emptymessage>
                                                <tr>
                                                    <td colspan="4">Ses attributs sont vides. 🚫🚫🚫</td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template #loadingbody>
                            <tr>
                                <td colspan="14">Chargement des données des clients. Veuillez patienter 🫸🏽🫸🏽🫸🏽.</td>
                            </tr>
                        </ng-template>
                        <ng-template #emptymessage>
                            <tr>
                                <td colspan="14">Pas de données disponibles 😔😔😔.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </p-tabpanel>

        <p-tabpanel value="2">
            <div class="card">
                <div class="font-semibold text-xl mb-4">Historique des équipements approuvés</div>

                <div>
                    <p-table
                        #dt2
                        [value]="equipmentsNoModified()"
                        dataKey="id"
                        [rows]="5"
                        [rowsPerPageOptions]="[5, 10, 25, 50]"
                        [rowHover]="true"
                        [expandedRowKeys]="expandedRows"
                        [loading]="loading"
                        [paginator]="true"
                        [(selection)]="selectedEquipmentsNoModified"
                        [globalFilterFields]="['centreCharge', 'code', 'codeParent', 'createdAt', 'createdBy', 'description', 'entity', 'famille', 'feeder', 'feederDescription', 'localisation', 'unite', 'zone' ]"
                        [tableStyle]="{ 'min-width': '75rem' }"
                        [scrollable]="true"
                    >
                        <ng-template #caption>
                            <!-- Dans le #caption de la deuxième table, remplacez la div par : -->
                            <div class="flex justify-between md:flex-row flex-col gap-2">
                                <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportExcelTable2()" />
                                <p-iconfield iconPosition="left" class="ml-auto">
                                    <p-inputicon>
                                        <i class="pi pi-search"></i>
                                    </p-inputicon>
                                    <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
                                </p-iconfield>
                            </div>
                        </ng-template>
                        <ng-template #header>
                            <tr>
                                <th style="width: 4rem"></th>
                                <th style="width: 4rem"></th>
                                <th>
                                    <p-columnFilter type="text" field="centreCharge" placeholder="Rechercher par ..." ariaLabel="Filtre Centre Charge" filterOn="input"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="code" placeholder="Rechercher par ..." ariaLabel="Filtre Code" filterOn="input"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="codeParent" placeholder="Rechercher par ..." ariaLabel="Filtre Code Parent" filterOn="input"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="description" placeholder="Rechercher par ..." ariaLabel="Filtre Description" filterOn="input"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="entity" placeholder="Rechercher par ..." ariaLabel="Filtre Entité" filterOn="input"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="famille" placeholder="Rechercher par ..." ariaLabel="Filtre Famille" filterOn="input"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="feeder" placeholder="Rechercher par ..." ariaLabel="Filtre Feeder" filterOn="input"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="feederDescription" placeholder="Rechercher par ..." ariaLabel="Filtre Feeder Description" filterOn="input"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="localisation" placeholder="Rechercher par ..." ariaLabel="Filtre Localisation" filterOn="input"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="unite" placeholder="Rechercher par ..." ariaLabel="Filtre Unité" filterOn="input"></p-columnFilter>
                                </th>
                                <th>
                                    <p-columnFilter type="text" field="zone" placeholder="Rechercher par ..." ariaLabel="Filtre Zone" filterOn="input"></p-columnFilter>
                                </th>
                            </tr>
                            <tr>
                                <th style="width: 4rem"></th>
                                <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
                                <th style="width: 11%">Centre Charge</th>
                                <th style="width: 11%">Code</th>
                                <th style="width: 11%">Code Parent</th>
                                <th style="width: 11%">Description</th>
                                <th style="width: 11%">Entité</th>
                                <th style="width: 11%">Famille</th>
                                <th style="width: 11%">Feeder</th>
                                <th style="width: 11%">Feeder Description</th>
                                <th style="width: 11%">Localisation</th>
                                <th style="width: 11%">Unité</th>
                                <th style="width: 11%">Zone</th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-equipment let-expanded="expanded">
                            <tr>
                                <td>
                                    <p-button type="button" pRipple [pRowToggler]="equipment" [text]="true" severity="secondary" [rounded]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
                                </td>
                                <td>
                                    <p-tableCheckbox [value]="equipment" />
                                </td>
                                <td>{{ equipment.centreCharge || 'N/A' }}</td>
                                <td>{{ equipment.code || 'N/A' }}</td>
                                <td>{{ equipment.codeParent || 'N/A' }}</td>
                                <td>{{ equipment.description || 'N/A' }}</td>
                                <td>{{ equipment.entity || 'N/A' }}</td>
                                <td>{{ equipment.famille || 'N/A' }}</td>
                                <td>{{ equipment.feeder || 'N/A' }}</td>
                                <td>{{ equipment.feederDescription || 'N/A' }}</td>
                                <td>{{ equipment.localisation || 'N/A' }}</td>
                                <td>{{ equipment.unite || 'N/A' }}</td>
                                <td>{{ equipment.zone || 'N/A' }}</td>
                            </tr>
                        </ng-template>
                        <ng-template #expandedrow let-equipment>
                            <tr>
                                <td colspan="5">
                                    <div class="p-4">
                                        <h5>Attributes pour {{ equipment.code }}</h5>
                                        <p-table [value]="equipment.attributes" dataKey="id">
                                            <ng-template #header>
                                                <tr>
                                                    <th pSortableColumn="indx">
                                                        <div class="flex items-center gap-2">
                                                            Index
                                                            <p-sortIcon field="indx" />
                                                        </div>
                                                    </th>
                                                    <th pSortableColumn="specification">
                                                        <div class="flex items-center gap-2">
                                                            Spécification
                                                            <p-sortIcon field="specification" />
                                                        </div>
                                                    </th>
                                                    <th pSortableColumn="attributeName">
                                                        <div class="flex items-center gap-2">
                                                            Nom
                                                            <p-sortIcon field="attributeName" />
                                                        </div>
                                                    </th>
                                                    <th pSortableColumn="value">
                                                        <div class="flex items-center gap-2">
                                                            Valeur
                                                            <p-sortIcon field="value" />
                                                        </div>
                                                    </th>
                                                </tr>
                                            </ng-template>
                                            <ng-template #body let-attribute>
                                                <tr>
                                                    <td>{{ attribute.indx }}</td>
                                                    <td>{{ attribute.specification }}</td>
                                                    <td>{{ attribute.attributeName }}</td>
                                                    <td>{{ attribute.value }}</td>
                                                </tr>
                                            </ng-template>
                                            <ng-template #emptymessage>
                                                <tr>
                                                    <td colspan="4">Ses attributs sont vides. 🚫🚫🚫</td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template #loadingbody>
                            <tr>
                                <td colspan="14">Chargement des données des clients. Veuillez patienter 🫸🏽🫸🏽🫸🏽.</td>
                            </tr>
                        </ng-template>
                        <ng-template #emptymessage>
                            <tr>
                                <td colspan="14">Pas de données disponibles 😔😔😔.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </p-tabpanel>
    </p-tabpanels>
</p-tabs>
