<div class="card">
    <p-toast></p-toast>
    <div class="font-semibold text-xl mb-4">Liste des prestataires créés</div>

    <div>
        <p-table
            #dt
            [value]="users"
            dataKey="id"
            [rows]="5"
            [rowsPerPageOptions]="[5, 10, 25, 50]"
            [rowHover]="true"
            [expandedRowKeys]="expandedRows"
            [loading]="loading"
            [paginator]="true"
            [(selection)]="selection"
            [globalFilterFields]="['username', 'email', 'company', 'url_image', 'is_connected', 'is_enabled', 'created_at', 'address']"
            [tableStyle]="{ 'min-width': '75rem' }"
            [scrollable]="true"
        >
            <ng-template #caption>
                <div class="flex justify-between md:flex-row flex-col gap-2">
                    <p-button iconPosition="right" icon="pi pi-filter-slash" (click)="clear(dt)" label="Effacer" severity="secondary" />
                    <p-iconfield iconPosition="left" class="ml-auto">
                        <p-inputicon>
                            <i class="pi pi-search"></i>
                        </p-inputicon>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Recherche par mot-clé" />
                    </p-iconfield>
                </div>
            </ng-template>
            <ng-template #header>
                <tr>
                    <th></th>
                    <th>
                        <p-columnFilter type="text" field="username" placeholder="Rechercher par ..." ariaLabel="Filtre Username" filterOn="input"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="email" placeholder="Rechercher par ..." ariaLabel="Filtre Email" filterOn="input"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="company" placeholder="Rechercher par ..." ariaLabel="Filtre Société" filterOn="input"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="address" placeholder="Rechercher par ..." ariaLabel="Filtre Adresse" filterOn="input"></p-columnFilter>
                    </th>
                    <th style="width: auto; min-width: 10rem">
                        <div class="flex items-center justify-between">
                            Date
                            <p-columnFilter type="date" field="created_at" display="menu"></p-columnFilter>
                        </div>
                    </th>
                    <th style="width: auto; min-width: 10rem">
                        <div class="flex items-center justify-between">
                            Statut
                            <p-columnFilter type="boolean" field="is_connected" display="menu" />
                        </div>
                    </th>
                    <th style="width: auto; min-width: 10rem">
                        <div class="flex items-center justify-between">
                            Statut
                            <p-columnFilter type="boolean" field="is_enabled" display="menu" />
                        </div>
                    </th>
                    <th style="width: auto; min-width: 7.5rem" pFrozenColumn alignFrozen="right" [frozen]="balanceFrozen"></th>
                </tr>
                <tr>
                    <th style="width: 11%">Image</th>
                    <th style="width: 11%">Nom Utilisateur</th>
                    <th style="width: 11%">Email</th>
                    <th style="width: 11%">Société</th>
                    <th style="width: 11%">Adresse</th>
                    <th style="width: 11%">Date de Création</th>
                    <th style="width: 11%">Est Connecté</th>
                    <th style="width: 11%">Compte Activé</th>
                    <th style="width: auto; min-width: 7.5rem" pFrozenColumn alignFrozen="right" [frozen]="balanceFrozen">Actions</th>
                </tr>
            </ng-template>
            <ng-template #body let-user let-expanded="expanded">
                <tr>
                    <td>
                        @if (user.url_image) {
                        <img [src]="user.url_image" alt="Photo" width="50" height="50" style="border-radius: 50%" />
                        } @else {
                        <img src="assets/images/profile.svg" alt="Default Photo" width="50" height="50" style="border-radius: 50%" />
                        }
                    </td>
                    <td>{{ user.username || 'N/A' }}</td>
                    <td>{{ user.email || 'N/A' }}</td>
                    <td>{{ user.company || 'N/A' }}</td>
                    <td>{{ user.address || 'N/A' }}</td>
                    <td>{{ (user.created_at | date:'dd/MM/yyyy HH:mm') || 'N/A' }}</td>
                    <td>
                        @if(user.is_connected) {
                        <p-tag icon="pi pi-check" severity="success" rounded="true" />
                        } @else {
                        <p-tag icon="pi pi-times" severity="danger" rounded="true" />
                        }
                    </td>
                    <td>
                        @if (user.is_enabled) {
                        <p-tag icon="pi pi-check" severity="success" rounded="true" />
                        } @else {
                        <p-tag icon="pi pi-times" severity="danger" rounded="true" />
                        }
                    </td>
                    <td alignFrozen="right" pFrozenColumn [frozen]="balanceFrozen" class="p-2">
                        <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editUser(user)" pTooltip="Éditer" tooltipPosition="top" />
                        <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteUser(user)" pTooltip="Supprimer" tooltipPosition="top" />
                    </td>
                </tr>
            </ng-template>

            <ng-template #loadingbody>
                <tr>
                    <td colspan="14">Chargement des données des Utilisateur. Veuillez patienter 🫸🏽🫸🏽🫸🏽.</td>
                </tr>
            </ng-template>
            <ng-template #emptymessage>
                <tr>
                    <td colspan="9">Pas de données disponibles 😔😔😔.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <!-- Déplacer le dialogue ICI, en dehors de p-table -->
    <p-dialog [(visible)]="userDialog" [modal]="true" [style]="{ width: '450px' }" header="Détails de l'utilisateur" [draggable]="false" [resizable]="false">
        <ng-template pTemplate="content">
            <div class="flex flex-col gap-6">
                @if (user.url_image) {
                <img [src]="user.url_image" alt="Photo" width="50" height="50" style="border-radius: 50%" class="mx-auto" />
                } @else {
                <img src="assets/images/profile.svg" alt="Default Photo" width="50" height="50" style="border-radius: 50%" class="mx-auto" />
                }
                <div>
                    <label for="username" class="block font-bold mb-3">Username</label>
                    <input type="text" pInputText id="username" [(ngModel)]="user.username" required autofocus fluid />
                    @if (submitted && !user.username) {
                    <small class="text-red-500">Username est obligatoire.</small>
                    }
                </div>
                <div>
                    <label for="email" class="block font-bold mb-3">Email</label>
                    <input type="text" pInputText id="email" [(ngModel)]="user.email" required fluid />
                    @if (submitted && !user.email) {
                    <small class="text-red-500">Email est obligatoire.</small>
                    }
                </div>
                <div class="grid grid-cols-2 gap-4">
                    <div>
                        <label for="company" class="block font-bold mb-3">Société</label>
                        <input type="text" pInputText id="company" [(ngModel)]="user.company" fluid />
                    </div>
                    <div>
                        <label for="is_enabled" class="block font-bold mb-3">État du compte</label>
                        <p-select [(ngModel)]="user.is_enabled" [options]="enabledOptions" optionLabel="label" optionValue="value" placeholder="Sélectionner un statut" fluid />
                    </div>
                </div>
                <div>
                    <label for="address" class="block font-bold mb-3">Adresse</label>
                    <textarea id="address" pTextarea [(ngModel)]="user.address" rows="3" cols="20" fluid></textarea>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <input type="hidden" name="id" [(ngModel)]="user.id" />
            <p-button label="Annuler" icon="pi pi-times" text (click)="hideDialog()" />
            <p-button label="Enregistrer" icon="pi pi-check" (click)="saveUser()" />
        </ng-template>
    </p-dialog>

    <!-- p-confirmdialog reste également en dehors de p-table -->
    <p-confirmdialog [style]="{ width: '450px' }" />
</div>
