<div class="layout-topbar">
    <div class="layout-topbar-logo-container">
        <button class="layout-menu-button layout-topbar-action" (click)="layoutService.onMenuToggle()">
            <i class="pi pi-bars"></i>
        </button>
        <a class="layout-topbar-logo" routerLink="/">
            <img src="assets/images/logo.png" alt="GMAO - Senelec" width="54" height="40"  class="object-cover" />
            <!-- <span>GMAO - Senelec</span> -->
        </a>
    </div>

    <div class="layout-topbar-actions">
        <div class="layout-config-menu">
            <button type="button" class="layout-topbar-action" (click)="toggleDarkMode()">
                <i [ngClass]="{ 'pi ': true, 'pi-moon': layoutService.isDarkTheme(), 'pi-sun': !layoutService.isDarkTheme() }"></i>
            </button>
            <app-configurator />
        </div>

        <button class="layout-topbar-menu-button layout-topbar-action" pStyleClass="@next" enterFromClass="hidden" enterActiveClass="animate-scalein" leaveToClass="hidden" leaveActiveClass="animate-fadeout" [hideOnOutsideClick]="true">
            <i class="pi pi-ellipsis-v"></i>
        </button>

        <div class="layout-topbar-menu hidden lg:block">
            <div class="layout-topbar-menu-content">
                <button type="button" class="layout-topbar-action">
                    <i class="pi pi-inbox"></i>
                    <span>Messages</span>
                </button>
                <img (mouseenter)="menu.toggle($event)" src="https://docs.material-tailwind.com/img/face-2.jpg" alt="avatar" class="layout-topbar-action inline-block relative object-cover object-center !rounded-full w-12 h-12 border border-slate-800 p-0.5" />
                <p-menu #menu [model]="itemsProfile" [popup]="true" />
            </div>
        </div>
    </div>
</div>
